<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dave's Recipe Index</title>



    <!-- NOT NOT NOT the latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--          crossorigin="anonymous">-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--            crossorigin="anonymous">-->
<!--    </script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--            crossorigin="anonymous">-->
<!--    </script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">-->
<!--    </script>-->
</head>

<body>
<h1 th:text="'Spring5 Recipe Index Page'">Spring5 Recipe Index Page</h1>
<p></p>
<p>Can't get this to work:-</p>
The time is: <strong th:text="${#temporals.format(now, 'dd/MMM/yyyy HH:mm')}">19/04/2019 12:30</strong>
<p></p>
<p></p>
<p></p>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Dagger's Recipes</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tr th:each="recipe : ${recipes}">
                                <td th:text="${recipe.id}">1000</td>
                                <td th:text="${recipe.description}">Tastee Goodness 1</td>
                            </tr>
                            <tr th:remove="all">
                                <td th:text="${recipe.id}">1001</td>
                                <td th:text="${recipe.description}">Tastee Goodness 2</td>
                            </tr>
                            <tr th:remove="all">
                                <td th:text="${recipe.id}">1002</td>
                                <td th:text="${recipe.description}">Tastee Goodness 3</td>
                            </tr>
                            <tr th:remove="all">
                                <td th:text="${recipe.id}">1003</td>
                                <td th:text="${recipe.description}">Tastee Goodness 4</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



</body>
</html>